/* rem and em don not depend on html font size in media queries, Instead 1rem = 1em = 16px
rem: root font size
em:current font size
*/

/* *************only screen******* */

/* **************************** */
/* Below 1344px (Smaller Desktops) */
/* **************************** */

@media (max-width: 84em) {

  /* body {
    width: 100%;
    margin: unset;
  } */
  #variables {
    width: 100%;
  }

  #commentboxleft1 {
    top: -25px;
    margin-left: 185px;
  }

  #commentboxcorrect {
    position: relative;
    left: 10px;
    top: -10px;
  }

  #commentboxleft {
    position: relative;
    left: -240px;
    top: 22px;

  }

  #commentboxright {
    position: relative;
    left: 7px;



  }

  #commentboxleft1 {
    top: -35px;
    margin-left: 154px;

  }

  #referenceplane {
    position: relative;
    left: -574px;


  }

  #simscreen {
    margin-left: 28px;

  }
}

/* @media (max-width: 78em) {
  #variables {
  width: 200%;
  }

  #commentboxleft {
    margin-left: -31px;

  }

} */



@media (min-width: 1200px) {
  #variables{
    width: 200%;
   
  }
}


/* **************************** */
/* Below 1200px (Lanscape Tablets) */
/* **************************** */

@media (max-width: 75em) {
  body {
    width: 100%;
    margin: unset;
  }

  #variables {
    width: 200%;
  }




  .title-div h1 {
    font-size: 2.5rem;
  }

  .task-title {
    font-size: 2rem;
  }

  .tool-menu {
    font-size: 2rem;
    gap: 2rem;
  }

  .icons {
    width: 3rem;
    height: 3rem;
  }

  .ctrl-icons {
    width: 3rem;
    height: 3rem;
  }

  .tool-list span {
    font-size: 1.2rem;
  }


  .canvas {
    display: block;
    width: 100%;
    height: 100%;
    /* background-color: red; */
  }

  .div__control img {
    width: 3rem;
    height: 2.8rem;
  }

  #slidergraph {
    top: 510px;
    height: 480px;
  }

  .cir-tooltip1 {
    position: relative;
    top: -50rem;
  }

  #variables {
    width: 200%;
  }

  #simscreen {

    margin-left: 186px;
  }

  #referenceplane {
    position: relative;
    left: -570px;

  }

  #commentboxleft1 {
    top: -37px;
    margin-left: 295px;
  }


}

@media (max-width: 63em) {
  #simscreen {
    position: relative;
    left: -100px;
  }


  #commentboxleft1 {
    top: -37px;
    margin-left: 295px;
  }

  #referenceplane {
    position: relative;
    left: -638px;

  }

}

/* **************************** */
/* Below 944px ( Tablets) */
/* **************************** */

@media (max-width: 59em) {

  .tool-link:link,
  .tool-link:visited {
    gap: 0.5rem;
    font-size: 1.4rem;
    flex-direction: column;
  }

  #commentboxleft1 {
    top: -37px;
    margin-left: 295px;
  }

  #commentboxcorrect {
    /* position: relative; */
    left: 67px;
    top: -10px;

  }

  #commentboxleft {
    position: relative;
    left: 100px;
    top: -10px;
  }

  #commentboxright {
    position: relative;
    left: 500px;
    top: -63px;
  }


  .title-div h1 {
    font-size: 2rem;
  }

  .main__task-div {
    height: auto;
  }

  .sidebar {
    position: fixed;
    padding: 0;
    bottom: 0;
    left: 0;
    flex-direction: row;
    width: 100%;
    backdrop-filter: blur(10rem);
    z-index: 101;
    justify-content: space-evenly;
    border-radius: 0;
    scroll-behavior: auto;
  }

  .tool-menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 4rem;
    width: 100%;
    font-size: 2.4rem;
    justify-content: space-evenly;
    padding: 1rem;
  }

  .main-section {
    grid-template-columns: 1fr;
  }

  .logo-div {
    width: 6.5rem;
  }

  .icons {
    width: 3rem;
    height: 3rem;
  }

  .tool-list span {
    font-size: 1.2rem;
  }

  .main__task-div:nth-child(4) {
    margin-bottom: 6rem;
  }

  .canvas {
    display: block;
    width: 100%;
    height: 100%;
    /* background-color: red; */
  }

  .main-section {
    grid-template-columns: 1fr;
  }

  .canvas__div {
    grid-template-columns: 1fr;
  }

  .canvas {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    border-top: 1px solid rgba(177, 176, 176, 0.855);
  }

  #slidergraph {
    top: 783px;
    height: 309px;
  }

  .cir-tooltip1 {
    position: relative;
    top: -30rem;
  }

  #variables {
    width: 100%;
  }

  #referenceplane {
    position: relative;
    left: 116px;
    top: -380px;

  }

  .copytext {
    margin-bottom: 65px;
  }

  #commentboxleft {
    position: relative;
    left: 100px;
  }

  #commentboxright {
    position: relative;
    left: 446px;
    top: -63px;
  }
}

/* **************************** */
/* Below 820px (Smaller Tablets) */
/* **************************** */
@media (max-width: 48em) {
  .main-section {
    grid-template-columns: 1fr;
  }

  #commentboxcorrect {
    position: relative;
    left: 11px;
    top: -10px;
  }

  #commentboxleft {
    position: relative;
    left: 40px;
  }

  #commentboxright {
    position: relative;
    left: 380px;
    top: -63px;
  }

  .canvas__div {
    grid-template-columns: 1fr;
  }

  .canvas {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    border-top: 1px solid rgba(177, 176, 176, 0.855);
  }

  .tool-list span {
    font-size: 1.2rem;
  }

  .cir-tooltip1 {
    position: relative;
    top: -30rem;
  }

  #variables {
    width: 100%;
  }

  #referenceplane {
    position: relative;
    left: 24px;
    width: 600px;
  }

  #simscreen {
    margin-left: 130px;

  }

  .copytext {
    margin-bottom: 70px;
  }
}

/* **************************** */
/* Below 704px (Smaller Tablets) */
/* **************************** */
@media (max-width: 44em) {
  .canvas__div {
    grid-template-columns: 1fr;
  }

  #commentboxcorrect {
    position: relative;
    left: 20px;
    top: -10px;
  }

  #commentboxleft {
    position: relative;
    left: 48px;
  }

  #commentboxright {
    position: relative;
    left: 346px;
    top: -63px;
  }

  .img-div {
    flex-direction: column;
  }

  .title-div {
    gap: 0rem;
    text-align: center;
  }

  .round {
    width: 0.6rem;
    height: 0.6rem;
  }

  .logo-div {
    width: 6.5rem;
  }

  .main__task-div:nth-child(4) {
    margin-bottom: 6rem;
  }

  .circuit-dia {
    width: 40%;
  }

  .cross-img {
    width: 60%;
  }

  .canvas {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    border-top: 1px solid rgba(177, 176, 176, 0.855);
  }

  .cir-tooltip1 {
    position: relative;
    top: -4rem;

  }

  #variables {
    width: 100%;
  }

  #referenceplane {
    position: relative;
    left: 20px;
  }

  #simscreen {
    margin-left: 85px;
  }



  .copytext {
    margin-bottom: 70px;
  }
}

@media (max-width:41em) {
  .canvas__div {
    grid-template-columns: 1fr;
  }

  #referenceplane {
    position: relative;
    width: 490px;
    left: 20px;
  }

  #commentboxcorrect {
    position: relative;
    left: 5px;
    top: -10px;
  }

  #commentboxleft {
    position: relative;
    left: 37px;
    font-size: 15px;
  }

  #commentboxright {
    position: relative;
    left: 320px;
    top: -63px;
    font-size: 15px;
  }

  #simscreen {
    position: relative;
    left: 35px;
    margin-left: -17px;

  }

  #commentboxleft1 {

    margin-left: 140px;
  }

  .copytext {
    margin-bottom: 70px;
  }

}

@media (max-width:38em) {
  .canvas__div {
    grid-template-columns: 1fr;
  }

  #commentboxcorrect {
    position: relative;
    left: 10px;
    top: -60px;
    font-size: 14px;
  }

  #commentboxleft {

    position: relative;
    left: 40px;
    top: -50px;
    font-size: 13px;

  }

  #commentboxleft1 {

    margin-left: 100px;
  }

  #commentboxright {

    position: absolute;
    left: 10px;
    top: -36px;
    font-size: 13px;


  }

  #simscreen {
    position: relative;
    left: 8px;
    margin-left: -15px;

  }

  .copytext {
    margin-bottom: 65px;
  }


}

/* **************************** */
/* Below 540px (Smaller Tablets) */
/* **************************** */
@media (max-width: 34em) {
  .container {
    padding: 0.5rem;
    gap: 1rem;
  }

  .title-div h1 {
    /* padding: 0.2rem; */

    font-size: 1.6rem;
    /* text-align: center; */
  }

  .logo-div {
    width: 4.5rem;
  }

  .div__control {
    gap: 2rem;
    /* top: 1.8rem;
    right: 1.5rem; */
  }

  .ctrl-icons {
    width: 2.5rem;
    height: 2.5rem;
  }

  .tool-menu {
    gap: 1.5rem;
  }

  .tool-list span {
    font-size: 1.2rem;
  }

  .task-title {
    font-size: 1.7rem;
  }

  label,
  select,
  input,
  p {
    display: inline-block;
    font-size: 1.7rem;
  }

  .main {
    gap: 0.5rem;
  }

  .main-section {
    gap: 0.5rem;
  }

  .sidebar {
    border-radius: 0;
  }

  .canvas {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    border-top: 1px solid rgba(177, 176, 176, 0.855);
    /* background-color: red; */
  }

  .div__control img {
    width: 2.7rem;
    height: 2.5rem;
  }

  .tooltip {
    font-size: 1rem;
  }

  #slidergraph {
    height: 200px;
    top: 658px;
  }

  .cir-tooltip1 {
    position: relative;
    top: -28rem;
    font-size: 1rem;
  }

  #variables {
    width: 100%;
  }

  #referenceplane {
    margin-left: -23px;
    position: relative;
    width: 490px;
    left: 57px;
    height: 25px;
    width: 414px;
    top: -351px;
  }

  #simscreen {

    margin-left: -20px;
    width: 100%;
    /* position: absolute;
  height: 300px;
  width: 300px; */

  }

  /* label{
  position: relative;
  left: 150px;
} */
  .moveInput {
    position: relative;
    left: -220px;
  }

  .p {
    margin-bottom: 65px;
  }

  .copytext {
    margin-bottom: 65px;
  }


}

@media (max-width: 33em) {

  #referenceplane {
    margin-left: -23px;
    position: relative;
    width: 490px;
    left: 29px;
    height: 25px;
    width: 414px;
    top: -310px;
  }

  #simscreen {

    margin-left: -19px;
    width: 100%;
  }

  .p {
    margin-bottom: 65px;
  }

  .copytext {
    margin-bottom: 65px;
  }
}

@media (max-width: 31em) {

  #referenceplane {
    margin-left: -23px;
    position: relative;
    width: 490px;
    left: 29px;
    height: 25px;
    width: 414px;
    top: -308px;
  }

  #simscreen {

    margin-left: -20px;
    width: 100%;
  }

  .p {
    margin-bottom: 65px;
  }

  .copytext {
    margin-bottom: 65px;
  }

}



@media (max-width: 29em) {
  #variables {
    width: 100%;
  }

  #simscreen {
    margin-left: -22px;
    width: 100%;
  }

  #referenceplane {
    margin-left: -23px;
    position: relative;
    width: 380px;
    left: 29px;
    height: 25px;
    width: 380px;
    top: -280px;
  }


  .p {
    margin-bottom: 65px;
  }

  .copytext {
    margin-bottom: 65px;
  }

}

@media (max-width: 27em) {

  #commentboxleft1 {
    top: -25px;
    margin-left: 53px;
  }

  #simscreen {
    margin-left: -7px;
    width: 100%;
  }

  #referenceplane {
    margin-left: -13px;
    position: relative;
    width: 380px;
    left: 29px;
    height: 25px;
    width: 320px;
    top: -244px;
  }

  /* .var-slider {
    position: relative;
    left: 15px;
  } */

  /* label{
    position: relative;
    left: 10px;
  }
  .unit{
    position: relative;
    left: 205px;
   
  } */

  .p {
    margin-bottom: 65px;
  }

  .copytext {
    margin-bottom: 65px;
  }

}

@media (max-width: 24em) {
  .cir-tooltip1 {
    position: relative;
    left: 10px;
    top: -29rem;
    font-size: 1rem;
  }

  #commentboxleft1 {
    top: -25px;
    margin-left: 36px;
  }

  #variables {
    width: 100%;
  }

  /* .var-slider {
    position: relative;
    left: 40px;
  } */

  #simscreen {
    margin-left: -20px;
    width: 100%;
  }

  #referenceplane {
    margin-left: -23px;
    position: relative;
    width: 310px;
    left: 29px;
    height: 25px;
    top: -234px;
  }

  .p {
    margin-bottom: 65px;
  }

  .copytext {
    margin-bottom: 65px;
  }
}

@media (max-width: 23em) {

  label {

    position: relative;
    left: 137px;
  }



  #referenceplane {
    margin-left: -24px;
    position: relative;
    width: 282px;
    left: 27px;
    height: 25px;
    top: -205px;
  }

  #simscreen {
    margin-left: -10px;
    width: 100%;
  }


  /* .var-slider {
    width: 120px;
  } */

  .unit {
    position: absolute;
    left: 186px;
  }



}

@media (max-width: 20em) {

  #commentboxleft1 {

    left: -13px;
  }

  .cir-tooltip1 {
    position: relative;
    left: 2px;
    top: -29rem;
    font-size: 1rem;
  }

  #variables {
    width: 100%;

  }

  .p {
    margin-bottom: 75px;

  }

}

/* 

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

 */